---
# handlers file for ansible-role-nagios
- name: Systemctl daemon reload
  systemd:
    daemon_reload: true
  listen: systemctl daemon-reload
  when:
    - "ansible_service_mgr == 'systemd'"

- name: Restart nagios
  service:
    name: "{{ nagios_service_name }}"
    state: "{{ nagios_service_restart_state }}"
  listen: restart nagios
